body {
    text-align: center;
    background-color: #fbfef0;
    font-family: Verdana, Geneva, sans-serif;
    margin: 10%;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    line-height: 2em;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

cite {
    font-size: small;
}

#content {
    text-align: left;
    line-height: 1.5em;
}

.listheading {
    text-align: left;
    
}

.learninglist {
    text-align: left;
    margin: 20px;
    list-style-type: circle;
}

footer {
    font-size: small;
}
#copyright {
    line-height: 5em;
}